@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Lexend:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@font-face {
    font-family: "Avenir";
    src: local("Avenir"), url("./fonts/AvenirLTStd-Book.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BrownFalco";
    src: local("BrownFalco"), url("./fonts/Brown_Falco.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Heavy";
    src: url("fonts/AvenirLTStd-Heavy.otf");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: #d3d3d3;
    padding: 0;
    height: max-content;
}

.main_container {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100vw;
    height: max-content;
    background: url("../../public/background.png");
    background-size: cover;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
