.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url("/background.png"); */
    /* background-size: 100vw; */
    width: 100vw;
    max-width: 2000px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5.5vh 8vw;
    justify-content: space-between;
    font-family: "BrownFalco";
}
ul {
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
    font-family: 550;
}

ul > li:nth-child(5) {
    background-color: red;
    padding: 5px 18px;
    border-radius: 4vw;
    overflow: hidden;
    position: relative;
    transition: 1s;
    color: white;
    cursor: pointer;
    z-index: 1;
}
ul > li:nth-child(5)::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: white;
    transition: 300ms;
    transform: scaleX(0);
    transform-origin: left;
}

ul > li:nth-child(5):hover::before,
ul > li:nth-child(5):focus::before {
    transform: scaleX(1);
}

ul > li:nth-child(5):hover {
    color: black;
}

nav h1 {
    font-size: 48px;
    font-family: 450;
}

.header1 {
    text-align: center;
    font-family: "BrownFalco";
    font-size: 54px;
    margin-top: calc(36vh - 190px);
    line-height: 1;
}

.paragraph1 {
    text-align: center;
    font-family: "Rubik";
    margin-top: 4vh;
    font-size: 20px;
    line-height: 1.5;
}

.order_now {
    padding: 10px 32px;
    border-radius: 50vw;
    background-color: #d21200;
    outline: none;
    border: none;
    font-size: 29px;
    font-family: "Arial";
    text-align: center;
    font-weight: 600;
    margin-top: 10vh;
    margin-bottom: 8vh;
    cursor: pointer;
    position: relative;
    transition: 1s;
    color: white;
    z-index: 1;
    overflow: hidden;
}
.order_now::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -50%;
    bottom: 0;
    z-index: -1;
    background-color: white;
    transition: 400ms ease-in-out;
    transform: scale(0);
    height: 200%;
    border-radius: 50%;
    transform-origin: center;
}

.order_now:hover::before,
.order_now:focus::before {
    transform: scale(1.2);
}

.order_now:hover {
    color: black;
}

.top3 {
    display: flex;
    width: 92%;
    justify-content: space-between;
    align-items: center;
}

.top3 img {
    aspect-ratio: 1 / 1;
    width: 24vw;
    max-width: 480px;
    height: fit-content;
}

.main_image_container {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    border: 15px solid white;
    background-color: white;
}

.main_image_container img {
    width: 37vw;
    max-width: 740px;
}

.paragraph2 {
    text-align: center;
    font-family: "Rubik";
    margin-top: 2vh;
    font-size: 32px;
    line-height: 1.5;
}

/* .main_image_container::before {
    content: "";
    position: absolute;
    width: 84px;
    height: 70px;
    background-image: url("../../public/chef_hat.png");
} */

.toplist {
    width: 90vw;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    flex-wrap: wrap;
}

.fdbox {
    width: 350px;
    height: 300px;
    background-color: #392e2d;
    border-radius: 49px;
    margin: 80px 2vw;
    display: flex;
    position: relative;
    flex-direction: column;
}

.dsc {
    border: 10px solid red;
}

.fdbox img {
    width: 280px;
    height: 280px;
    position: absolute;
    transform: translate(-4vw, -140px);
}

#price {
    display: flex;
    justify-content: right;
    transform: translateY(80px);
    margin-right: 20px;
    font-family: "Avenir Heavy";
    color: white;
    font-size: 24px;
}

.disc {
    width: 78px;
    height: 78px;
    background: red;
    position: absolute;
    right: 0;
    top: -38px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 22px;
    font-family: "Rubik Heavy";
}

#fdname {
    color: white;
    padding-left: 1.5vw;
    transform: translateY(120px);
    font-size: 28px;
    font-family: "BrownFalco";
}

#rating {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    position: absolute;
    bottom: 38px;
    left: 32px;
    font-size: 22px;
}

.fdbox button {
    position: absolute;
    bottom: 23px;
    right: 25px;
    padding: 8px 16px;
    font-size: 17px;
    border-radius: inherit;
    border: none;
    background-color: white;
    color: black;
    font-family: "Rubik";
    font-weight: 500;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 400ms;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.fdbox button::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -50%;
    bottom: 0;
    z-index: -1;
    background-color: rgb(255, 15, 15);
    transition: 400ms ease-in-out;
    transform: scale(0);
    height: 200%;
    border-radius: 50%;
    transform-origin: center;
}

.fdbox button:hover::before,
.fdbox button:focus::before {
    transform: scale(1.2);
}

.fdbox button:hover {
    color: white;
}

.fdbox button svg {
    margin-right: 10px;
    font-size: 19px;
}

.fdbox p {
    margin: 0;
}

.offer {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #2e2e2e, #ff5a5a);
    width: 100vw;
    padding: 7vh;
    justify-content: space-between;
}

@media screen and (min-width: 2000px) {
    .offer {
        padding: 7vh calc(50vw - 1000px + 7vh);
    }
}

.prt1 h1 {
    color: white;
    font-family: "Lexend", serif;
    font-size: 64px;
    width: 100%;
}
.prt1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prt2 {
    width: fit-content;
    display: flex;
    justify-content: right;
    position: relative;
}
.prt1 .order_now {
    margin-top: 4vh;
    margin-bottom: 1vh;
}

.timeleft {
    display: flex;
    margin-top: 5vh;
}

.time_card {
    padding: 20px 30px;
    background-color: #e8e8e8;
    width: 115px;
    margin-right: 19px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time_card p:first-child {
    font-size: 45px;
    font-weight: 913;
    font-family: "Lexend";
    color: rgba(57, 46, 45, 0.9);
}

.time_card p:first-child {
    font-size: 45px;
    font-weight: 913;
    font-family: "Lexend";
    color: rgba(57, 46, 45, 0.9);
}

.line {
    width: 92%;
    height: 2px;
    background: gray;
    margin: 1vh 0;
}

.time_card p:last-child {
    font-size: 22px;
    font-weight: bold;
    font-family: "Lexend";
    color: rgba(57, 46, 45, 0.9);
}

.time_card::before {
    content: "";
    position: absolute;
    left: calc(50% - 4px);
    top: -12px;
    width: 4px;
    height: 20px;
    background-color: gray;
}

.discount {
    position: absolute;
    left: 0;
    top: 40px;
    color: white;
    font-family: "Rubik";
    font-weight: bolder;
    font-size: 33px;
    background: red;
    padding: 10px;
    border-radius: 44vw;
    width: 110px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prt2 img {
    width: 500px;
}

.prvx {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 7vw 5vw;
}

.prvx h1 {
    font-family: "Rubik";
    font-weight: bolder;
    font-size: 86px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.prvx img {
    width: 37%;
}

.about {
    display: flex;
    padding: 1vh 6vw;
}
.txtabout {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-family: Rubik;
    margin-right: 10vw;
}
.txtabout h3 {
    color: red;
    font-family: Lexend;
    font-weight: 500;
    font-size: 36px;
}
.txtabout h2 {
    font-family: "BrownFalco";
    font-size: 46px;
    margin-top: 2vh;
}
.txtabout p {
    font-size: 28px;
    margin-top: 5vh;
    width: 90%;
}
.imgs_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.imgs_about img {
    width: 16vw;
    max-width: 320px;
    margin: min(1vw, 20px);
}

.txtabout button {
    width: fit-content;
}

.imgs_about {
    height: 45vw;
    max-height: 900px;
}

.reserve {
    display: flex;
    width: 90%;
}
.reserve > div {
    width: fit-content;
    margin-left: 2vw;
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
}
.reserve h2 {
    font-family: BrownFalco;
    font-size: 64px;
}
.reserve p {
    font-family: sans;
    font-size: 24px;
    font-weight: 500;
}
.book_now {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    transition: 500ms;
    cursor: default;
}

.book_now:hover {
    color: #d21200;
}

.book_now svg {
    font-size: 70px;
}

.reserve img {
    width: 40vw;
    max-width: 800px;
    height: 26vw;
    max-height: 520px;
}

footer {
    width: 100%;
    padding: 2vw;
    background-color: #ccc1aa;
    display: flex;
}       
