.about_main {
    background: url("../../../public/background.png");
    background-size: cover;
    /*  */
    width: 100vw;
    display: flex;
    justify-content: center;
}

.about_main > div {
    width: 100vw;
    max-width: 2000px;
    height: fit-content;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.title_container {
    height: calc(100vh - 135px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_container > h1 {
    font-family: Notable;
    font-weight: 400;
    font-style: normal;
    font-size: 140px;
    margin: 0;
    line-height: 1;
    display: flex;
    justify-content: center;
    transform: translateX(calc(-5.5vh - 67.5px));
}

.history {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 min(11vw, 300px);
    margin: 0 0 12vh 0;
}

.history h1 {
    font-family: "Petit Formal Script";
    font-size: clamp(48px, 5vw, 102px);
}

.history p {
    font-family: "Bad Script";
    font-size: clamp(28px, 2.5vw, 52px);
    text-align: center;
    line-height: 2;
    margin-top: 2vh;
}

.highlighted {
    margin: 0;
    display: inline-block;
    color: #ffae00;
}

.about {
    display: flex;
    padding: 1vh 6vw;
}
.txtabout {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-family: Rubik;
    margin-right: 10vw;
}
.txtabout h3 {
    color: #e69d00;
    font-family: Lexend;
    font-weight: 500;
    font-size: 36px;
}
.txtabout h2 {
    font-family: "BrownFalco";
    font-size: 46px;
    margin-top: 2vh;
}
.txtabout p {
    font-size: 28px;
    margin-top: 5vh;
    width: 90%;
}
.imgs_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.imgs_about img {
    width: 16vw;
    max-width: 320px;
    margin: min(1vw, 20px);
}

.txtabout button {
    width: fit-content;
}

.imgs_about {
    height: 45vw;
    max-height: 900px;
}

.comments_container h1 {
    font-family: "Petit Formal Script";
    font-size: clamp(48px, 5vw, 102px);
}
h1 {
}
.comments_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.comment {
    width: min(65vw, 1300px);
    padding: min(4.5vw, 90px);
    background: radial-gradient(circle farthest-side, #9d0000, #370000);
    border-radius: 8px;
    position: relative;
    margin-top: 6vh;
    margin-right: 5vw;
}
.comment p {
    font-family: "Bad Script";
    font-size: clamp(16px, 1.75vw, 32px);
}
.comment > span {
    position: absolute;
    right: min(4.5vw, 90px);
}

.p_slider {
    width: min(65vw, 1300px);
    overflow: hidden;
}

.slider {
    display: flex;
    width: fit-content;
    height: fit-content;
    transition: 1s;
}
