body {
    margin: 0;
}

.menu_main {
    background: url("../../../public/background.png");
    background-size: cover;
    /*  */
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.title_container {
    height: calc(89vh - 135px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_container > h1 {
    font-family: Notable;
    font-weight: 400;
    font-style: normal;
    font-size: 140px;
    margin: 0;
    line-height: 1;
    display: flex;
    justify-content: center;
    transform: translateY(calc(-5.5vh - 67.5px));
}
